html{
    font-family: var(--tipografia-principal);
    font-size: 16px;
}

.subrayado{
  text-decoration: line-through;
}

.new-price{
  color: var(--rojo-new-price);
  font-weight: bold;
  padding-left: 10px;
}

#header-principal .superior{
    align-items: center;
    /* background: var(--gris-claro); */
    display: flex;
    height: 160px;
    justify-content: space-between;
    padding: var(--padding-general);
}

#header-principal .superior .logo{
    height: 60px;
    width: 70px;
}

#header-principal .superior .logo img{
    height: 100%;
    width: 100%;
}

#header-principal .superior .logo-central{
    height: 100px;
    width: 100px;
}

#header-principal .superior .logo-central img{
  height: 100%;
  width: 100%;
}

#header-principal .superior .derecho{
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 150px;
}

#header-principal .superior .derecho .image-container{
  height: 30px;
  width: 60px;
}

#header-principal .superior .derecho .image-container img{
  width: 100%;
}

/* Estilos Banner */

.banner {
  align-items: center;
  background-image: url(../imgs/main_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.banner .banner-info{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--padding-general)
}

.banner .banner-info h1{
  color: var(--blanco);
  font-size: 3.125rem;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 50px;
}

.banner .banner-info button {
  background-color: var(--turquesa-btn);
  border-color: var(--turquesa-btn);
  border: none;
  color: var(--blanco);
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  width: 140.47px;
}

.banner .banner-info button:hover {
  cursor: pointer;
  background-color: var(--turquesa-hover);
  border-color: var(--turquesa-hover);
  opacity: .8;
}


/*  */

.posters header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

.posters header h2{
  font-size: 1.25rem;
  padding-bottom: 12px;
}

.posters header h3{
  color: var(--gris);
  font-size: 0.875rem;
}

.posters .card{
  /* border: 2px solid red; */
  height: 1020px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  padding-bottom: 200px;
}

.posters .card .poster-general{
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.posters .card .poster-general button{
  background-color: var(--turquesa-btn);
  border: none;
  border-bottom: 1px solid green;
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: bold;
  height: 80px;
  outline: none;
}

.posters .card .poster-general button:hover{
  background-color: var(--turquesa-hover2);
}

.posters .card .poster-general .upper-info{
  display: flex;
  justify-content: space-between;
  padding: var(--padding-general);
  padding-top: 10px;

}

.posters .card .poster-general .upper-info button{
  background: var(--naranja);
  border: none;
  color: var(--blanco);
  font-weight: bold;
  height: 40px;
  width: 100px;
}

.posters .card .poster-general .upper-info .image-container {
  height: 20px;
  width: 24px;
  margin-right: 2%;
}

.posters .card .poster-general .upper-info .image-container img {
  background-color: white;
  height: 100%;
  width: 100%;
  border: 20px solid var(--blanco);
  border-radius: 100%;
}

.posters .card .down-info{
  padding-top: 20px;
  padding-bottom: 50px;
}

.posters .card .down-info .stars{
  /* border: 2px solid purple; */
  display: flex;
  height: 20px;
  width: 160px;
  padding-top: 20px;
}

.posters .card .down-info .stars h2{
  font-size: 1.5rem;
}


.posters .card .down-info p{
  padding-top: 20px;
  font-size: 1.5rem;
}

.posters .card .down-info p:first-child{
  font-weight: bold;
}


.posters .card .poster1{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/7-Chakras-Affirmations-Poster_02_540x.jpg);
}

.posters .card .poster2{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/7-chakra-watercolor-handmade-poster-tapestry_1080x.jpg);
  background-color: #B4B4B4;
}

.posters .card .poster3{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/chakra-poster-chart_7-chakrastore_06148f10-d26c-45ae-8d5d-5ba4ce5accf9_540x.jpg);
}

.posters .card .poster4{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/chakra-chart-digital-print-wall-art-hanging-poster_540x.jpg);
}

.posters .card .poster5{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/yoga-poses-poster-7-chakras-yoga-chart_540x.jpg);
}

.posters .card .poster6{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/chakra-affirmations-chart-poster-wall-art_a1bba328-6d56-4a1d-876b-23e3be2e1458_540x.jpg);
}

.posters .card .poster7{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/chakra-stones-crystals-chart-poster-wall-hanging-art_540x.jpg);
}

.posters .card .poster8{
  background-image: url(https://cdn.shopify.com/s/files/1/2375/5099/products/chakra-crystals-stones-gemstones-chart_540x.jpg);
}

.posters .btn-load{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.posters .btn-load button{
  background-color: var(--blanco);
  border: 1px solid var(--turquesa-btn);
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--turquesa-btn);
  height: 70px;
  outline: none;
  width: 450px;
}

.posters .btn-load button:hover{
  background-color: var(--turquesa-btn);
  color: var(--blanco);
  cursor: pointer;
  transition: all .2s ease-in;
}

/* Trending Section */

.trending header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trending header h2 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}

.trending .trend-btns {
  padding-bottom: 50px;
}

.trending .trend-btns button{
  background-color: var(--blanco);
  color: var(--gris-txt-btn);
  cursor: pointer;
  border: none;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  font-size: 2rem;
  height: 90px;
  outline: none;
  width: 150px;

}

.trending .trend-btns:last-child button {
  width: 180px;
}

.trending .trend-btns button:hover{
  color: var(--negro-general);
  border: 2px solid var(--negro-general);
  transition: all .1s ease-in;
}
