html{
    font-family: var(--tipografia-principal);
    font-size: 16px;
}

#header-principal .superior{
    align-items: center;
    /* background: var(--gris-claro); */
    display: flex;
    height: 160px;
    justify-content: space-between;
    padding: var(--padding-general);
}

#header-principal .superior .logo{
    height: 60px;
    width: 70px;
}

#header-principal .superior .logo img{
    height: 100%;
    width: 100%;
}

#header-principal .superior .logo-central{
    height: 100px;
    width: 100px;
}

#header-principal .superior .logo-central img{
  height: 100%;
  width: 100%;
}

#header-principal .superior .derecho{
  /* border: 2px solid red; */
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 150px;
}

#header-principal .superior .derecho .image-container{
  height: 30px;
  width: 60px;
}

#header-principal .superior .derecho .image-container img{
  width: 100%;
}

/* Estilos Banner */

.banner {
  align-items: center;
  background-image: url(../imgs/main_banner.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: center;
}

.banner .banner-info{
  align-items: center;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding: var(--padding-general)
}

.banner .banner-info h1{
  color: var(--blanco);
  font-size: 3.125rem;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 50px;
}

.banner .banner-info button {
  background-color: var(--turquesa-btn);
  border-color: var(--turquesa-btn);
  border: none;
  color: var(--blanco);
  font-size: 0.6875rem;
  height: 40px;
  width: 140.47px;
}

.banner .banner-info button:hover {
  cursor: pointer;
  background-color: var(--turquesa-hover);
  border-color: var(--turquesa-hover);
  opacity: .8;
}
