:root {
    --blanco: #FFFFFF;
    --gris: #969696;
    --gris-txt-btn: #8C8C8C;
    --gris-elep: #4D5959;
    --gris-blog: #F7F7F7;
    --gris-foot: #7E7E7E;
    --rojo-new-price: #D01345;
    --tipografia-principal: 'Poppins', sans-serif;
    --turquesa-btn: #56CFE1;
    --turquesa-hover: #4eb0be;
    --turquesa-hover2: #78D9E7;
    --naranja: #FE9931;
    --negro-general: #212121;
    --negro-promo: #1F1F1F;
    --padding-general: 0 4%;
    --rosado-seccion: #FF61C3;
    --negro-dnft: #2A2A2A;
    --face-cov-eye: #EAEBEF;
  }
